*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.card{
    background-color: hsl(0, 0%, 100%);
    max-width: 380px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: none;
    max-height: 80vh;
}

.card_img{
    max-width: 300px;
    justify-content: center;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;

}

.file_text{
    margin: 15px;
    font-weight: 700;
    font: 700;
    font-size: large;
    color: hsl(217, 45%, 22%);
    display: flex;
    margin-left: 20px;
    font-family:  'triomphe-bold-italic', sans-serif;
}

.text{
font-size: 15px;
color: hsl(220, 15%, 55%);
margin-top: 15%;
}

@media screen and (min-width:375px),(max-width:1440px) {
    .card{
        color: #d6e2f0;
    }
}
